service:
  # consul注册中心,默认127.0.0.1:8500. 不设置则忽略!
  center: "127.0.0.1:8500"

或者定制缓存超时
service:
  # consul注册中心,默认127.0.0.1:8500. 不设置则忽略!
  center:
    address: "127.0.0.1:8500"
    timeout: "1m"

或者设置本地缓存
service:
  # consul注册中心,默认127.0.0.1:8500. 不设置则忽略!
  center:
    configs:
      pvpbroker: ["172.31.0.5:9000","172.31.0.19:9000"]